.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a,
.register-link p a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover,
.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    padding: 20px 0 15px;
}

.register-link p a {
    font-weight: 600;
}
